.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
}

.chatbox {
  width: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid black; /* 边框样式：1像素宽，实线，黑色 */
  border-radius: 10px; /* 圆角样式：10像素半径 */
}

.title {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-height: 500px;
}

.message {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-end;
}

.self {
  flex-direction: row-reverse;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.speech-bubble {
  max-width: 80%;
  padding: 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  word-wrap: break-word;
}


.input-box {
  display: flex;
  padding: 10px;
}

.input {
  width: 100%;
  min-height: 100px;
  margin-right: 10px;
}

.sendBtn {
  height: 30px;
  width: 80px;
  margin-left: -110px;
  margin-top: 65px;
  position: relative;
}
