.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.chatbox {
  width: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 10px; /* 圆角样式：10像素半径 */
}

.title {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  border-radius: 10px;
}

.content {
  flex: 1;
  overflow: auto;
}

.message {
  padding: 10px 14px;
  background-color: var(--white);
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: var(--card-shadow);
  transition: background-color 0.3s ease;
  cursor: pointer;
  user-select: none;
  border: 2px solid transparent;
  position: relative;
  overflow: hidden;
}

.self {
  flex-direction: row-reverse;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.speech-bubble {
  max-width: 80%;
  padding: 10px;
  border-radius: 20px;
  background-color: #f2f2f2;
  word-wrap: break-word;
}


.input-box {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  /* border: 1px solid black; */
}

.input {
  width: 100%;
  min-height: 160px;
  border-radius: 10px; /* 圆角样式：10像素半径 */
  
}

.sendBtn {
  height: 50px;
  width: 120px;
  margin-left: -130px;
  margin-top: 95px;
  position: relative;
}
